{% extends 'base.html' %}
{% load static %}

{% block page_title %}Исследовать{% endblock %}

{% block content %}

{% if query %}
    <div class="search-info">
        <h2>Поиск по результату: "{{ query }}"</h2>
    </div>
{% endif %}

<div class="feed" id="feed" data-query="{{ query|default:'' }}" data-country="{{ selected_country|default:'' }}">
    {% include "core/_post_items.html" with posts=posts query=query %}
</div>

<div id="feed-loader" class="feed-loader" data-next-page="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" {% if not page_obj.has_next %}style="display:none"{% endif %}>
    Загрузка...
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/infinite_feed.js' %}"></script>
{% endblock %}

