<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WanderLog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    <nav>
        <!-- Левый блок -->
        <div class="nav-left">
            <a href="{% url 'core:home' %}" class="icon-home">🏠</a>

            <form method="get" action="{% url 'core:home' %}" class="search-form">
                <input type="text" name="q" placeholder="Поиск...">
            </form>
        </div>

        <!-- Правый блок -->
        <div class="nav-right">
            {% if user.is_authenticated %}
            <a href="{% url 'posts:create_post' %}" class="icon-plus">➕</a>

            <div class="dropdown">
                <button class="dropdown-btn">Аккаунт ▾</button>

                <div class="dropdown-content">
                    <a href="{% url 'users:profile' %}">Профиль</a>
                    <a href="{% url 'users:logout' %}">Выйти</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'users:login' %}">Войти</a>
            <a href="{% url 'users:register' %}">Создать</a>
            {% endif %}
        </div>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</main>
</body>
</html>
