<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WanderLog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    <nav>
        <a href="/">Главная</a>
        {% if user.is_authenticated %}
        <a href="/">Профиль</a>

        <a href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
        <a href="{% url 'users:login' %}">Войти</a>
        <a href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
        <a href="/">Создать пост</a>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
