{% extends "base.html" %}
{% load static %}

{% block page_title %}Создать пост{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="profile-form post-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div>
        <label>Заголовок</label>
        {{ form.title }}
        {{ form.title.errors }}
    </div>

    <div>
        <label>Страна</label>
        {{ form.country }}
        {{ form.country.errors }}
    </div>

    <div>
        <label>Место (город, координаты и т.д.)</label>
        {{ form.place }}
        {{ form.place.errors }}
    </div>

    <div>
        <label>Описание</label>
        {{ form.description }}
        {{ form.description.errors }}
    </div>

    <div>
        <label>Фото (1–5)</label>
        <label for="id_images" class="file-btn">Загрузить фото</label>
        <input type="file" id="id_images" name="images" multiple required>
        <div class="file-hint">Можно выбрать до 5 файлов</div>
        <div id="image-preview" class="image-preview"></div>
    </div>

    <button type="submit">Опубликовать</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/post_image_preview.js' %}"></script>
{% endblock %}
