{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="post-detail">

    <!-- Верхняя панель -->
    <div class="post-top">
        <h1 class="post-title">{{ post.title }}</h1>

        <div class="post-author">
            {% if post.author.profile.avatar %}
            <img src="{{ post.author.profile.avatar.url }}" class="author-avatar">
            {% endif %}
            <a href="{% url 'users:user_profile' post.author.username %}">
                {{ post.author.username }}
            </a>
        </div>
    </div>

    <!-- Галерея -->
    <div class="gallery">
        <div class="gallery-wrapper">

            <button class="arrow left" onclick="prevImage()">❮</button>

            <div class="gallery-slide">
                {% for img in post.images.all %}
                <img src="{{ img.image.url }}" class="gallery-image">
                {% endfor %}
            </div>

            <button class="arrow right" onclick="nextImage()">❯</button>

        </div>
    </div>

    <div class="post-text">
        {{ post.description }}
    </div>
    {% if request.user == post.author %}
    <form method="post" action="{% url 'posts:delete_post' post.pk %}" onsubmit="return confirmDelete();">
        {% csrf_token %}
        <button type="submit" class="delete-btn">Удалить пост</button>
    </form>
    {% endif %}
</div>
<div id="imageModal" class="modal">
    <span class="modal-close" onclick="closeModal()">✕</span>
    <img class="modal-image" id="modalImage">
</div>
<script>
    function confirmDelete() {
        return confirm("Вы уверены, что хотите удалить этот пост?");
    }
</script>
{% block scripts %}
<script src="{% static 'posts/js/post_detail.js' %}"></script>
{% endblock %}

{% endblock %}
